player-connection-mode=Connect
player-connection-guid=2425664880
player-connection-debug=0
player-connection-project-name=FlappyTask1
player-connection-wait-timeout=-1
player-connection-ip=26.200.117.239
player-connection-ip=10.155.200.128
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=d909336eec7c434aa458b21b948e2685
